<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/public/stylesheets/about.css">

</head>
<body>
    <img src = "/public/images/grafiti.jpg" alt = "samo"
    <p>Jean-Michel Basquiat (Nueva York, 22 de diciembre de 1960-ibídem; 12 de agosto de 1988) también conocido como SAMO, fue un artista estadounidense de ascendencia haitiana y puertorriqueña. Su trabajo es conocido por sus aportaciones al movimiento del Graffiti, a la pintura y a la música.</p>
</body>
</html>