<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>
<body>
    <h1>Michel Basquiat</h1>
    <img src = "/public/images/basquiat.jpg" alt="Michel-Basquiat-img">
    <nav>
        <a href="about">Info</a>
        <a href="works">Obra</a>
    </nav>
</body>
</html>