body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;    
}

img {
    height: 300px;
    width: auto;
}

p {
    margin: 16px 30%;
}


nav {
    display: flex;
    flex-direction: row;
}
